*.mex*
*.fld
*.eps
*.mat
*.pdf
*.raw
*.aux
*.bbl
*.blg
*.log
*.out
Makefile
data/downloads/
freemat/
give
help-pc/
mex/lib*
mex/oct*
mex/v7/
mri-rf/graf-splitting/
octave/
reproduce/
todo-data
todo-matlab-cut
